section style="width: 590px;"
  p Welcome to B2B marketing! We provide advertising photos & marketing content for your business. Our photographers work all over the world takings shots in Color and Black & White. Let us know the type of marketing or exact advertising campaign that you have in mind so we can help you find the right creatives. 

  p B2B Marketing also takes on custom advertising & marketing photography projects. Now, you can focus your time and energy on tracking results instead of managing contractors & external resources. Click on our Gallery tab above to see examples from one of our portfolios.

  img src="/images/home.jpg" alt="Good Life" style="margin-left: 100px; border-radius: 100px; border: 3px solid black;" 